<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Prototype</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Prototype">
        <meta property="og:title" content="Prototype"/>
        <meta property="og:site_name" content="Prototype"/>
        <meta property="og:description" content="Prototype" />
        <meta property="og:image" content="https://prototype.land/images/social.png" />

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@prototypehq">
        <meta name="twitter:creator" content="@prototypehq">
        <meta name="twitter:title" content="Prototype">
        <meta name="twitter:description" content="Prototype">
        <meta name="twitter:image:src" content="https://prototype.land/images/social.png">

        <link rel="shortcut icon" href="images/favicon.png" sizes="16x16 32x32 64x64" />
        <link rel="stylesheet" href="stylesheets/app.css" />
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.14/jquery.scrollTo.min.js"></script>
        <script src="javascripts/page.js" defer async></script>
    </head>

    <body>
        <%- body %>
    </body>

</html>