<div class="page">
	<section class="splash">
		<div class="inner">	      
		  	<h1>Prototype</h1>
 
		    <div class="social">
		    	<div class="wrapper">
		    		<div class="fb-like" data-href="https://www.facebook.com/prototypehq" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
		        	<a href="https://twitter.com/prototypehq" class="twitter-follow-button" data-show-count="true">Follow @prototypehq</a>
		    	</div>
		    </div>

 		</div>
	</section>
 </div>