<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Prototype</title>
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <link rel="shortcut icon" href="/assets/images/favicon.png" sizes="16x16 32x32 64x64" />
        <link rel="stylesheet" href="assets/stylesheets/app.css" />
        <script src="assets/javascripts/page.js" defer async></script>
    </head>

    <body>
        <%- body %>
    </body>

</html>